<% include partials/header  %>

<div class="container col-md-6 col-md-offset-3" id="panel2">

  <h2>Create User Account</h2>

  <form method="post" action="/novy">

    <div class="form-group col-md-4">
      <label for="fn">First Name</label>
      <input type="text" class="form-control" name="name" placeholder="John" required>
    </div>
    <div class="form-group col-md-4">
      <label for="ln">Last Name</label>
      <input type="text" class="form-control" name="surname" placeholder="Doe" required>
    </div>
    <div class="form-group col-md-6">
      <label for="username">User Name</label>
      <input type="text" class="form-control" name="username" placeholder="username" required>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email address</label>
      <input type="text" class="form-control" name="email" placeholder="email@address.com">
    </div>
    <div class="form-group col-md-6">
      <label for="phone">Phone Number <span class="small">(optional)</span></label>
      <input type="tel" class="form-control" name="phone" placeholder="123456789">
    </div>
    <div class="col-md-12 text-right">
      <button type="submit" class="btn btn-primary" >Create User</button>
      <a href="/" class="btn btn-default " role="button" type="submit">Cancel</a>

    </div>

  </form>

</div>

<% include partials/footer %>
